<section class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <div class="container mt-5 text-center">
    <p class="fs-3 fw-bolder">Bienvenue {{ username }} dans la famille</p>
    <h1 class="title logo-title my-5">
      Mr.U-Smiley <i class="fa-regular fa-face-smile"></i>
    </h1>

    <p class="w-50 mx-auto">
      Ici, chaque vêtement reçoit l'attention qu'il mérite, avec des services
      sur mesure pour vous faciliter le quotidien. Prêts à illuminer votre
      garde-robe ?
    </p>

    <p>
      Vous serez redirigé vers la page d'accueil dans
      <strong class="text-warning">{{ counter }}</strong> secondes.
    </p>

    <!-- bug à voir, pas cliquable -->
    <p>
      <!-- Cliquez <i class="fa-regular fa-hand-point-right"></i>
      <a class="fw-semibold" routerLink="/"> ici</a>
      si vous ne souhaitez pas attendre.
    </p> -->
    </p>
  </div>
</section>
