<section class="container my-5">
  <div class="row gap-4 d-flex justify-content-between">
    <div class="col-md-3 shadow p-4">
      <p><i class="fa-solid fa-piggy-bank fs-5"></i></p>
      <h3 class="fs-5 my-3">Gagner du temps et économiser</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet non porro
        laboriosam rerum fugiat quod ullam earum dignissimos corporis
      </p>
    </div>

    <div class="col-md-3 shadow p-4">
      <p><i class="fa-solid fa-shield-halved fs-5"></i></p>
      <h3 class="fs-5 my-3">Payement en sécurité</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet non porro
        laboriosam rerum fugiat quod ullam earum dignissimos corporis
      </p>
    </div>

    <div class="col-md-3 shadow p-4">
      <p><i class="fa-solid fa-face-smile fs-5"></i></p>
      <h3 class="fs-5 my-3">Satisfaction guarantie</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet non porro
        laboriosam rerum fugiat quod ullam earum dignissimos corporis
      </p>
    </div>
  </div>
</section>
