<div class="container text-center mx-auto">
  <footer class="py-5">
    <div class="row">
      <div class="col mb-3">
        <img src="../../../assets/logo.svg" alt="logo" class="w" />
        <h2 class="fw-bold mt-4 text-secondary">Mr.U-Smiley</h2>
      </div>

      <div class="col mb-3 text-start">
        <h5>A propos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Blog</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Actualités</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Espace press</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
          </li>
        </ul>
      </div>

      <div class="col mb-3 text-start">
        <h5>Légal</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">CGV</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Conditions d'utilisation</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Données personnelles</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Mentions légales</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              >Politique de remboursement</a
            >
          </li>
        </ul>
      </div>

      <div class="col offset-md-1 mb-3">
        <form>
          <h5>Inscrivez-vous</h5>
          <p>Revevez nos dernières actualités</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"
              >Adresse email</label
            >
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Email"
            />
            <button class="btn btn-primary" type="button">S'inscrire</button>
          </div>
        </form>
      </div>
    </div>

    <div
      class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 border-top"
    >
      <p>&copy; 2023 Company, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>
