<section id="fonder" class="container mb-5">
  <h2 class="text-center mb-5">Nos fondateurs</h2>
  <div class="row gy-5">
    <div class="col-lg-6">
      <div class="fonders position-relative overflow-hidden">
        <img src="assets/home/fondateur.svg" alt="" class="img-fluid w-100" />
        <div class="cover text-light position-absolute w-100">
          <p class="display-3 ms-5 mt-5 fw-bold">Bernard</p>
          <p class="display-6 ms-5">Fondateur</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="fonders position-relative overflow-hidden">
        <img src="assets/home/fondatrice.svg" alt="" class="img-fluid w-100" />
        <div class="cover text-light position-absolute w-100">
          <p class="display-3 ms-5 mt-5 fw-bold">Laetitia</p>
          <p class="display-6 ms-5">Co-Fondateur</p>
        </div>
      </div>
    </div>
  </div>
</section>
