ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.bg-service img {
  width: 100%;
}

.tab-border-bottom {
  border-bottom: 1px solid transparent;
}

.active-tab.tab-border-bottom {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.inactive-tab {
  color: black;
}

.sub-category-selected {
  display: block;
  background-color: #f2f2f2;
  color: var(--primary-color);
  font-weight: 700;
}

.subcategory {
  color: black;
}
