<section id="actu" class="container mb-5">
  <h2 class="text-center mb-5">Dernières actualité</h2>
  <div class="row">
    <div class="col-lg-6 my-5">
      <div class="position-relative">
        <img src="assets/home/actu1.svg" alt="" class="img-fluid w-100" />
        <div class="title_actu fs-2 position-absolute text-light">
          <p>Comment nettoyer les chemises blanches?</p>
          <small class="pe-5">Lire plus >></small>
        </div>

        <div class="actu_date position-absolute w-50 py-4 ps-3">
          <p class="text-light">13 juillet</p>
          <div class="min-separator"></div>
          <p class="text-light mt-3">2023</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-5">
      <div class="position-relative">
        <img src="assets/home/actu2.svg" alt="" class="img-fluid w-100" />
        <div class="title_actu fs-2 position-absolute">
          <p>Astuces pour repasser les vêtements en lin</p>
          <small class="pe-5">Lire plus >></small>
        </div>
        <div class="actu_date position-absolute w-50 py-4 ps-3">
          <p class="text-light">13 juillet</p>
          <div class="min-separator"></div>
          <p class="text-light mt-3">2023</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 text-end fw-bold">
    <a href="#" class="text-dark">Savoir plus nos actualités >></a>
  </div>
</section>
