<div class="container py-4">
  <div class="p-5 mb-4 about-wrapper">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold title">À propos de Mr. Smiley</h1>
      <p class="col-md-8 fs-4">
        Bienvenue chez Mr. Smiley, votre partenaire privilégié pour des services
        de pressing impeccables directement à votre porte. Fondée par Bernard et
        Laetitia, une couple passionnée par l'excellence dans le service à la
        clientèle et le soin des textiles, Mr. Smiley représente plus qu'un
        simple service de pressing. C'est une promesse de qualité, de fiabilité
        et de personnalisation.
      </p>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 rounded-3">
        <h2>Notre histoire</h2>
        <p>
          L'aventure de Mr. Smiley a commencé quand Bernard, fort de son
          expérience dans le secteur du nettoyage à sec, et Laetitia, experte en
          gestion d'entreprise, ont décidé de combiner leurs forces pour créer
          un service qui manquait cruellement dans leur communauté : un pressing
          de qualité, fiable et facilement accessible. Inspirés par leur
          engagement commun pour la durabilité et l'excellence du service, ils
          ont lancé Mr. Smiley avec l'ambition de transformer l'expérience du
          pressing.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="https://images.unsplash.com/photo-1639580133969-48cbbce72e1f?q=80&w=2564&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Notre histoire"
        class="img-histoire"
      />
    </div>
  </div>

  <div class="row align-items-md-stretch my-5">
    <div class="col-md-6">
      <img
        src="https://images.unsplash.com/photo-1638949493140-edb10b7be2f3?q=80&w=2544&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Notre mission"
        class="img-mission"
      />
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5">
        <h2>Notre Mission</h2>
        <p>
          Chez Mr. Smiley, notre mission est de simplifier votre vie en vous
          offrant un service de pressing et de blanchisserie à domicile de
          premier ordre. Nous nous engageons à utiliser des procédés de
          nettoyage écologiques, à garantir une qualité irréprochable pour tous
          vos textiles, et à offrir un service client exceptionnel. Que vous
          ayez besoin de nettoyer un costume, une robe de soirée ou votre linge
          de maison, nous sommes là pour vous servir avec le sourire.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="text-center mb-5">Rencontrez les Fondateurs</h2>
    <p>
      Bernard et Laetitia sont le cœur de Mr. Smiley. Leur vision commune d'un
      service de pressing qui va au-delà de la simple transaction commerciale
      pour créer une véritable expérience client est ce qui rend Mr. Smiley
      unique. Passionnés, dévoués et toujours prêts à innover, ils travaillent
      sans relâche pour vous offrir le meilleur.
    </p>
  </div>

  <div class="row">
    <h2 class="text-center mb-5">Rejoignez-nous dans notre Aventure</h2>
    <p>
      Votre satisfaction est notre priorité. Chez Mr. Smiley, nous sommes
      toujours à l'écoute de vos retours pour améliorer nos services. Ensemble,
      faisons de votre expérience de pressing quelque chose de
      remarquable.availlent sans relâche pour vous offrir le meilleur.
    </p>
  </div>
</div>
