<section id="achievement" class="container mb-5">
  <div class="row d-flex flex-row">
    <div class="col-lg-7 bg-logo">
      <div>
        <h2>Pourquoi nous choisir?</h2>
        <p class="my-3">
          Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate
          ac metus at, semper varius orci. Nulla accumsan ac elit in congue.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id provident
          dolore aut delectus repellat cupiditate!
        </p>
        <p class="mb-5">
          Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate
          ac metus at, semper varius orci. Nulla accumsan ac elit in congue.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id provident
          dolore aut delectus repellat cupiditate!
        </p>

        <div class="achievement-category row g-5 text-center">
          <div class="col-lg-6">
            <div class="quality-item">
              <strong>20+</strong>
              <p>ans d’expérience</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="quality-item">
              <strong>100+</strong>
              <p>experts de pressing</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="quality-item">
              <strong>5 000+</strong>
              <p>satisfactions</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="quality-item">
              <strong>10 000+</strong>
              <p>nettoyage à sec</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 position-relative">
      <div class="border chair">
        <img src="assets/home/bg-chair.svg" alt="" class="img-fluid w-100" />
        <div
          class="text-light position-absolute top-0 start-0 text-center py-4 px-5 w-100 mx-auto"
        >
          <div class="key_word py-5 mt-5">
            <p class="display-4 fw-bolder">20+</p>
            <p class="display-6 fw-bold">ans expérience</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
