<section class="container">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
      <li class="breadcrumb-item" aria-current="page">
        {{ product?.name }}
      </li>
    </ol>
  </nav>

  <div class="row mb-4 h-md-250 position-relative">
    <div class="col-lg-6">
      <img [src]="product?.imagePath" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-6 p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">{{
        product?.category?.name
      }}</strong>
      <h3 class="mb-0">{{ product?.name }}</h3>

      <p class="card-text">
        {{ product?.description }}
      </p>

      <form class="d-flex flex-wrap justify-content-between my-3">
        <div class="service-group">
          <h4 class="fs-5">Services supplémentaire</h4>
          <div *ngFor="let option of options" class="d-flex">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                [id]="option.name"
              />
              <label class="form-check-label" [for]="option.name">
                {{ option.name }}
              </label>
            </div>
          </div>
        </div>
        <div class="material-group">
          <h4 class="fs-5">Matière(s) du produit</h4>
          <div *ngFor="let material of materials" class="d-flex">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                [id]="material.name"
              />
              <label class="form-check-label" [for]="material.name">
                {{ material.name }}
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
